.Rproj.user
.Rhistory
.RData
.Ruserdata
/POO1/POOAulas/target/
/POO1/HerancaPOO/target/
/POO1/CollectionCores/nbproject/private/
/POO1/CollectionOrdenaContas/build/
/POO1/CollectionOrdenaContas/nbproject/private/
/POO1/CollectionOrdenaListaStrings/build/
/POO1/CollectionOrdenaListaStrings/nbproject/private/
/POO1/Pizzaria/target/
